<% provide(:title, "About Us") %>

<div class="center-content">
  <div class="banner" id="about-banner">
    <div class="dark-layer">
    	<div class="banner-text">
        ABOUT US
        <hr>
        <p class="caption">Learn about the Alpha Beta Chapter and the history of our fraternity</p>
      </div>
    </div>
  </div>

  <div class="about-nav">
  	<ul>
  		<a href="#s1"><li>History of AKPsi</li></a>
  		<li><div class="circle"></div></li>
			<a href="#s2"><li>The Alpha Beta Chapter</li></a>
			<li><div class="circle"></div></li>
			<a href="#s3"><li>Our Brotherhood</li></a>
		</ul>
	</div>

</div>