<% provide(:title, "About Us") %>

<div class="center-content">
  <div class="banner" id="about-banner">
    <div class="dark-layer">
    	<div class="banner-text">
        ABOUT US
        <hr>
        <p class="caption">Learn about the Alpha Beta Chapter and the history of our fraternity</p>
      </div>
    </div>
  </div>

  <div class="about-nav">
  	<ul>
  		<a href="#s1"><li>History of AKPsi</li></a>
  		<li><div class="circle"></div></li>
			<a href="#s2"><li>The Alpha Beta Chapter</li></a>
		</ul>
	</div>

  <a name="s1" class="remove-hover-effect">
    <div class="about-wrapper black-bg">
      <p class="about-subheading">Fraternity History</p>
      <p class="about-caption">
        In 1904, four men at New York University came together to found the nation's first professional business fraternity, Alpha Kappa Psi. Driven by a spirit of brotherhood and a vision of uniting people with common business interests, the "Brooklyn Four" created Alpha Kappa Psi as an organization that would foster both the personal and professional growth of its members.
      </p>
    </div>
  </a>

  <a name="s2" class="remove-hover-effect">
    <div class="about-wrapper white-bg">
      <p class="about-subheading">The Alpha Beta Chapter</p>
      <p class="about-caption">
        Alpha Kappa Psi was first established in UC Berkeley on March 8, 1921, making it the oldest business organization on campus. The Alpha Beta Chapter is your first step into Alpha Kappa Psi's international brotherhood. Our brothers hail from all majors and backgrounds, producing a uniqueness that extends into our vast alumni network. Some of our numerous activities include sponsoring the Big Four Forum and sponsoring case competitions on campus. In 2002, we introduced Alpha Beta Consulting (ABC), a non-profit student consulting group. In 2007, Berkeley Corporate Solutions (BCS) was launched as the business-side consulting arm of our chapter.
      </p>
    </div>
  </a>
</div>

