<% provide(:title, "About Us") %>

<div class="center-content">
  <div class="banner" id="about-banner">
    <div class="dark-layer">
    	<div class="banner-text">
        ABOUT US
        <hr>
        <p class="caption">Learn about the Alpha Beta Chapter and the history of our fraternity</p>
      </div>
    </div>
  </div>

</div>