<% provide(:title, "Submitted") %>

<div class="home">
	<div class="dark-layer">
		<div class="home-page">
			<p class="submitted-heading">Application Successfully Submitted</p>
			<p class="submitted-caption"><%= link_to "Click here to return to the home page", root_path %></p>
		</div>
	</div>
</div>