<% provide(:title, "Contact") %>

<div class="home" id="contact">
	<div class="home-page">
		<p class="contact-heading">To contact Alpha Kappa Psi, email the Vice President of External at:</p>
		<p class="contact-caption"><a href="mailto:ritikapai22@gmail.com" class="hyperlink">ritikapai22@gmail.com</a></p>
	</div>
</div>
