<% provide(:title, "Contact") %>

<div class="home">
	<div class="dark-layer">
		<div class="home-page">
			<p class="submitted-heading">To contact Alpha Kappa Psi, email us at:</p>
			<p class="submitted-caption"><a href="mailto:michaeldeng18@gmail.com" class="hyperlink">michaeldeng18@gmail.com</a></p>
		</div>
	</div>
</div>
