<% provide(:title, "Contact") %>

<div class="home" id="contact">
	<div class="really-dark-layer">
		<div class="contact-page">
			<p class="contact-title">Contact Us</p>
			<p class="contact-heading">Contact Alpha Kappa Psi with questions regarding our recruitment process:</p>
			<p class="contact-caption"><a href="mailto:rush@calakpsi.com" class="hyperlink">rush@calakpsi.com</a></p>
			<p class="contact-heading">For all other inquiries, please reach out to our Vice President of External:</p>
			<p class="contact-caption"><a href="mailto:corporaterelations@calakpsi.com " class="hyperlink">corporaterelations@calakpsi.com</a></p>
		</div>
	</div>
</div>
