<% provide(:title, "Executive Board") %>

<div class="center-content">
  <div class="banner" id="actives-banner">
    <div class="dark-layer">
      <div class="banner-container">
      	<div class="banner-text">
          Officers
        </div>
        <hr class="hr-sm"/>
        <div class="banner-caption">The executive board of our fraternity</div>
      </div>
    </div>
  </div>

  <br>
  
  <div class="actives-wrapper">
  	<ul class="actives-thumbnails">
			<% @eboard_actives.each do |a| %>
				<% if (a.display && a.photo?) %>
					<li>
						<%= link_to image_tag(a.photo.url(:small)), active_path(a) %>
						<p><%= a.name %></p>
            <p><%= a.eboard_position %></p>
					</li>
				<% end %>
			<% end %>
		</ul>
	</div>
</div>