<% provide(:title, "Frequently Asked Questions") %>

<div class="center-content">
  <div class="banner" id="actives-banner">
    <div class="dark-layer">
    	<div class="banner-container">
	    	<div class="banner-text">
	        FAQ
	        </div>
	        <hr class="hr-sm"/>
	        <div class="banner-caption">The most frequently asked questions regarding our recruitment process</div>
	    </div>
    </div>
  </div>

  <br><br>

	<div class="faq-wrapper">
		<ul class="faq-ul">
			<a href="#q1"><li>Why Alpha Kappa Psi?</li></a>
			<a href="#q2"><li>How is Alpha Kappa Psi different from the other business fraternities?</li></a>
			<a href="#q3"><li>What is the recruitment process?</li></a>
			<a href="#q4"><li>Are there any restrictions to who can apply?</li></a>
			<a href="#q5"><li>Is attending all of the recruitment events required?</li></a>
			<a href="#q6"><li>What kind of candidates are you looking for?</li></a>
			<a href="#q7"><li>How many pledges does Alpha Kappa Psi take each semester?</li></a>
			<a href="#q8"><li>What is pledging like?</li></a>
			<a href="#q9"><li>If I do not get a bid the first time, can I apply again?</li></a>
			<a href="#q10"><li>What do I do if I have further questions that were not addressed here?</li></a>
		</ul>

		<br>

		<a name="q1" class="remove-hover-effect"><p>Why Alpha Kappa Psi?</p>
		Alpha Kappa Psi offers a unique opportunity to attain the critical professional skills necessary to excel in tomorrow’s workforce. Based on its two pillars of Brotherhood and Professionalism, Alpha Kappa Psi brings together a diverse people who all have a common desire to achieve more. Through hands on leadership experiences, insightful seminars, professional workshops, and internship opportunities, our members have become highly regarded recruits by many of the nation’s leading firms. Joining Alpha Kappa Psi will open access to a huge range of opportunities that allow you to excel in whatever field you choose.</a>
		<br><br>

		<a name="q2" class="remove-hover-effect"><p>How is Alpha Kappa Psi different from the other business fraternities?</p>
		One of the top distinguishing factors of Alpha Kappa Psi is the reputable fraternity suborganizations that all actives brothers are encouraged to join. Berkeley Corporate Solutions is a highly professional consulting team that has worked with a16z, Cisco, Square, and Salesforce. Alpha Beta Consulting is a consulting team for non-profits that has worked with Kiva, Raising a Reader. Alpha Beta Ventures is a start-up incubator that provides entrepreneurship opportunities for brothers. Our chapter also hosts an investment fund and software hackathon teams. Another differentiating factor is that Alpha Kappa Psi is open to all majors. The breadth of knowledge gained and shared by Active Brothers and Alumni Brothers allows us to offer innovative perspectives on business and beyond.</a>
		<br><br>

		<a name="q3" class="remove-hover-effect"><p>What is the recruitment process?</p>
		Recruitment is a series of events over two weeks to allow potential candidates the opportunity learn more about Alpha Kappa Psi. In turn, it also allows the Active Brothers to know more about interested applicants.</a>
		<br><br>

		<a name="q4" class="remove-hover-effect"><p>Are there any restrictions to who can apply?</p>
		You do not have to be a business major to apply; Alpha Kappa Psi recognizes the universal nature of business, and offers equal opportunity for candidates of all majors. However, the Alpha Beta chapter does not hand out bids to first-semester freshman. Despite this fact, first-semester freshman are welcome to attend all recruitment events to get a feel for the process.</a>
		<br><br>

		<a name="q5" class="remove-hover-effect"><p>Is attending all of the recruitment events required?</p>
		Although attendance to recruitment events is voluntary, it is highly encouraged that serious applicants attend all the events, or as many as possible. Due to the large number of people at our recruitment events, it is difficult to remember every candidate. The more interactions an individual has with our fraternity, the more he or she can learn about it, and the more we can learn about him or her.</a>
		<br><br>

		<a name="q6" class="remove-hover-effect"><p>What kind of candidates are you looking for?</p>
		There is no pre-set image of the ideal candidate as we recognize the different contributions that various individuals can make. However, we are still looking for highly motivated scholars that not only work well independently, but within a group as well. Potential, as well as present qualities, is a determining factor in the bid process.</a>
		<br><br>

		<a name="q7" class="remove-hover-effect"><p>How many candidates does Alpha Kappa Psi accept each semester?</p>
		This number widely varies each semester. Pledge classes have ranged in size from as little as 8 to as many as 17. We have no set quota, and we will take anyone who shows potential to excel as a brother of Alpha Kappa Psi.</a>
		<br><br>

		<a name="q8" class="remove-hover-effect"><p>What is pledging?</p>
		Pledging is much like training for an actual company and can be compared to an internship. You will learn and exercise team-building, public speaking, interviewing and leadership skills, all in the context of business projects and practices. Although difficult, pledging is designed to build the highest caliber of brotherhood and professionalism.</a>
		<br><br>

		<a name="q9" class="remove-hover-effect"><p>If I do not get a bid the first time, can I apply again?</p>
		Yes. It is highly encouraged that a candidate apply again if he or she did not receive a bid the first time. Perseverance and improvement are valued traits in applicants.</a>
		<br><br>

		<a name="q10" class="remove-hover-effect"><p>What do I do if I have further questions that were not addressed here?</p>
		If you have more questions, feel free to email <a href="mailto:rush@calakpsi.com" class="hyperlink">rush@calakpsi.com</a>.</a>
		<br><br>
	</div>
</div>