<div class="home">
	<div class="dark-layer">
		<div class="home-page">
			<p class="home-heading">ALPHA KAPPA PSI</p>
			<p class="home-caption">The World's Largest and Oldest Business Fraternity</p>
		</div>
		<%= video_tag "akpsi_bgvid.mp4", :id => "bgvid", :autoplay => true, :loop => true, :poster => image_url("home_background.png") %>
	</div>
</div>


