<% provide(:title, "Professionalism") %>

<div class="center-content">
  <div class="banner" id="actives-banner">
    <div class="dark-layer">
      <div class="banner-container">
      	<div class="banner-text">
          Officers
        </div>
        <hr class="hr-sm"/>
        <div class="banner-caption">The executive board of our fraternity</div>
      </div>
    </div>
  </div>

  <div class="about-wrapper white-bg">
    <p class="about-caption">
      Out of all business organizations on campus, Alpha Kappa Psi provides the most opportunities for brothers to become involved in the business sphere in the Bay Area.
    </p>
  </div>
  <div class="container-fluid">
	  <div class="row">
		  <div class="col-md-6 bcs">
		  </div>
		  <div class="col-md-6 abv">
		  </div>
		</div>
		<div class="row">
		  <div class="col-md-6 abc">
		  </div>
		  <div class="col-md-6 abi">
		  </div>
		</div>
	</div>
</div>

