<% provide(:title, "Rush") %>

<div class="center-content">
  <div class="banner" id="rush-banner">
    <div class="dark-layer">
    	<div class="banner-text">
        RUSH AKPsi
        <hr>
        <p class="caption">Scroll down to find out more information about our rush process</p>
      </div>
    </div>
  </div>
</div>

<div class="application-button-wrapper">
	<%= link_to "Apply Now", "#" %>
	<br><br>
	<i>Applications due on January 30</i>
</div>

<div class="rush-schedule-wrapper">
	<p class="rush-schedule-heading">Rush Schedule</p>
	<div>
		<p class="rush-schedule-subheading">Meet the Chapter</p>
		<p class="rush-schedule-caption">
			Monday, January 26<br>
			7:00PM at Alumni House on Campus<br>
			Business Casual
		</p>
	</div>
	<div>
		<p class="rush-schedule-subheading">Social Night</p>
		<p class="rush-schedule-caption">
			Wednesday, January 28<br>	
			7:00PM at Pappy's Grill on Telegraphy Avenue<br>	
			Campus Casual
		</p>
	</div>
	<div>
		<p class="rush-schedule-subheading">Individual Interviews</p>
		<p class="rush-schedule-caption">
			Saturday, January 31 & Sunday, February 1<br>	
			By Appointment Only<br>
			Business Professional
		</p>
	</div>
	<div>
		<p class="rush-schedule-subheading">Professional Forum</p>
		<p class="rush-schedule-caption">
			Monday, February 2<br>
			By Invitation Only<br>
			Business Professional
		</p>
	</div>
	<div>
		<p class="rush-schedule-subheading">Group Interviews</p>
		<p class="rush-schedule-caption">
			Thursday, February 5<br>
			By Invitation Only<br>	
			Business Professional
		</p>
	</div>
</div>