<% provide(:title, "Rush") %>

<div class="center-content">
  <div class="banner" id="rush-banner">
    <div class="dark-layer">
    	<div class="banner-text">
        RUSH AKPsi
        <hr>
        <p class="caption">Scroll down to find out more information about our rush process</p>
      </div>
    </div>
  </div>
</div>