<% provide(:title, "Sponsors") %>

<div class="center-content">
  <div class="banner" id="about-banner">
    <div class="dark-layer">
    	<div class="banner-text">
        SPONSORS
        <hr>
        <p class="caption">Thank you to the following companies for sponsoring Alpha Kappa Psi</p>
      </div>
    </div>
  </div>

  <ul class="sponsors-list">
    <li><a href="https://www.accenture.com/"><img alt="Accenture" src=<%= image_url("accenture_logo.png") %>></a></li>
    <li><a href="http://www.dcm.com/"><img alt="DCM Ventures" src=<%= image_url("dcmventures_logo.png") %>></a></li>
    <li><a href="https://www.studypool.com/"><img alt="Studypool" src=<%= image_url("studypool_logo.png") %>></a></li>
  </ul>

</div>
