<%= rushee_comment.active.name %>
<br>
Posted <%= time_ago_in_words(rushee_comment.created_at) %> ago
<br>
<br>
<div style="width:80%; margin:auto;">
	<%= rushee_comment.content %>
</div>
<br>
<br>
<% if (current_active.eql? rushee_comment.active) %>
	<%= link_to "Delete", [@rushee_profile, rushee_comment], method: :delete,
	confirm: "You sure?",
	title: rushee_comment.content %>
<% end %>
<hr>
