<% provide(:title, "Active Brothers") %>

<div class="container">
	<h1>Active Brothers</h1>
	<br>

	<ul>
		<% @actives.each do |a| %>
			<%= link_to image_tag(active.photograph.url!!!!!!!!!!!!) %>
			<h3><%= active.name %><h3>
		<% end %>
	</ul>
</div>
