<% provide(:title, "Active Brothers") %>

<div class="center-content">
  <div class="banner" id="actives-banner">
    <div class="dark-layer">
    	<div class="banner-text">
        BROTHERS
        <hr>
        <p class="caption">We are proud of the diverse backgrounds and interests of all our brothers</p>
      </div>
    </div>
  </div>

  <br>

  <div class="actives-wrapper">

	</div>
</div>
