<% provide(:title, "Active Brothers") %>

<div class="center-content">
  <div class="banner" id="actives-banner">
    <div class="dark-layer">
    	<div class="banner-text">
        ACTIVE BROTHERS
        <hr>
        <p class="caption">We are proud of the diverse backgrounds and interests of all our brothers</p>
      </div>
    </div>
  </div>

  <br>

  <div class="actives-wrapper">
		<ul class="actives-thumbnails">
			<% @actives.each do |a| %>
				<% if (a.display && a.photo.exists?) %>
					<li>
						<%= image_tag a.photo.url(:small) %>
						<p><%= a.name %></p>
					</li>
				<% end %>
			<% end %>
		</ul>

		<ul>
			<% @actives.each do |a| %>
				<% if (a.display && !a.photo.exists?) %>
					<li><%= a.name %></li>
				<% end %>
			<% end %>
		</ul>
	</div>
</div>
