<% provide(:title, "Rush Applications") %>

<div class="center-content">
  <div class="banner" id="rushees-banner">
    <div class="dark-layer">
      <div class="banner-container">
      	<div class="banner-text">
          Rush Applications
        </div>
        <hr class="hr-sm"/>
        <div class="banner-caption">List of all rush applications</div>
      </div>
    </div>
  </div>

  <br>

  <div class="rushees-wrapper">
		<ul class="rushees-thumbnails">
			<% @rush_applications.each do |r| %>
				<li>
					<%= link_to r.first_name, rush_application_path(r) %>
					<%= link_to r.last_name, rush_application_path(r) %>
				</li>
			<% end %>
		</ul>
	</div>
</div>