// Place all the styles related to the actives_controller controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*** ACTIVE BROTHERS INDEX PAGE CUSTOMIZATIONS ***/

#actives-banner {
  background: image_url("banquet_fa14_banner.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.actives-thumbnails {
  text-align: center;
}

.actives-thumbnails li {
  display: inline-block;
  margin: 10px;
}

.actives-thumbnails li p {
  margin-top: 5px;
  margin-bottom: -5px;
  font-size: 1em;
}

.actives-wrapper p {
  text-align: center;
  font-size: 1.2em;
  margin-top: 2em;
  margin-bottom: 1em;
}

.not-pictured-actives {
  list-style-type: none;
  text-align: center;
  margin-bottom: 2em;
}

.not-pictured-actives li a {
  text-decoration: none;
  margin: 1em;
  color: black;
}



/*** ACTIVE BROTHERS SHOW PAGE CUSTOMIZATIONS ***/

#individual-actives-banner {
	background: image_url("sunset_banner.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.actives-profile-wrapper {
  width: 70%;
  margin: auto;
  padding-top: 3em;
  padding-bottom: 3em;
  text-align: center;
}

.actives-profile-heading {
  text-align: center;
  font-size: 2.5em;
}

.actives-profile-heading .edit {
  margin-top: -0.1em;
  font-size: 0.5em;
}

.actives-profile-wrapper div div {
  margin-top: 1em;
}

.actives-profile-info {
  list-style-type: none;
  text-align: left;
}

.actives-profile-info li {
  margin-bottom: 1em;
}

.actives-profile-info li strong {
  font-size: 1.1em;
}

.options-heading {
  font-size: 2em;
}

.options {
  margin-top: 1em;
}

.options li {
  display: inline;
  list-style-type: none;
  margin-left: 0.5em;
  margin-right: 0.5em;
  font-size: 1.2em;
}

/*** ACTIVE BROTHERS EDIT PAGE CUSTOMIZATIONS ***/

.edit-wrapper {
  margin: auto;
  width: 80%;
}


/*** ACTIVE BROTHERS LOG IN PAGE CUSTOMIZATIONS ***/

#login-banner {
  background: image_url("beach_banner.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.login-wrapper {
  padding-top: 2em;
  padding-bottom: 2em;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
