// Place all the styles related to the actives_controller controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*** ACTIVE BROTHERS INDEX PAGE CUSTOMIZATIONS ***/

#actives-banner {
  background: image_url("banquet_fa14_banner.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.actives-thumbnails {
  text-align: center;
}

.actives-thumbnails li {
  display: inline-block;
  margin: 10px;
}

.actives-thumbnails li p {
  margin-top: 5px;
}



/*** ACTIVE BROTHERS SHOW PAGE CUSTOMIZATIONS ***/

#individual-actives-banner {
	background: image_url("twin_peaks_banner.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.actives-info {
  position: relative;
  display: inline-block;
}

.active-photo {
  position: absolute;
  left: 50%;
  top: 20px;
}