// Place all the styles related to the awards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*** Awards Page Customizations ***/

.awards-table-wrapper {
  width: 80%;
  margin: auto;
  text-align: center;
  font-family: "cyntho_proregular", sans-serif;
}

.awards-table .table thead tr th {
  background: none;
  font-size: 1em;
  border-bottom-width: 2px;
  width: 40%;
}

#placement-column {
	width: 20%;
}