// Place all the styles related to the awards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*** Awards Page Customizations ***/

#awards-banner {
  background: image_url("awards_banner.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.awards-table-wrapper {
  width: 85%;
  margin: auto;
  text-align: center;
}

.awards-table .table thead tr th {
  background: none;
  font-size: 1.1em;
  border-bottom-width: 2px;
}

// Customize the awards table year subheadings eg. 2014
.awards-table .table .subheading td {
  font-size: 1.1em;
  padding-top: 1.25em;
}

.awards-table .table tr td {
  font-size: 0.9em;
}

#placement-column {
	width: 15%;
}

#actives-column {
  width: 45;
}

#competition-column {
  width: 40%;
}
