// Place all the styles related to the career_entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*** CAREERS PAGE CUSTOMIZATIONS ***/

.navbar-careers {
  margin-top: -50px;
  background: none;
  width: 100%;
}

.navbar-careers ul {
  width: 100%;
  text-align: center;
}

.navbar-careers ul li {
  display: inline-block;
  float: none;
}

.center-content .navbar-careers .navbar-nav a {
  font-size: 150%;
  text-decoration: none;
  color: black;
}

.center-content .navbar-careers .navbar-nav a:hover {
  color: #006cb6;
}

#careers-banner {
  background: image_url("fred_kang.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.careers-table-wrapper {
  width: 80%;
  margin: auto;
  text-align: center;
  font-family: "cyntho_proregular", sans-serif;
}

.careers-table .table thead tr th {
  background: none;
  font-size: 14px;
  border-bottom-width: 2px;
  width: 25%;
  //border-color: #00acee;
}


.careers-table .table .subheading td {
  font-size: 14px;
}