@import "bootstrap-sprockets";
@import "bootstrap";

/*** NAVBAR CUSTOMIZATIONS ***/

/* Squeeze the inner elements of the navbar */
nav .container-fluid {
	padding-right: 5em;
	padding-left: 5em;
}

/* Set the height of the navbar */
.navbar-static-top {
	height: 80px;
}

/* Position the Alpha Kappa Psi logo */
.navbar-brand img {
	height: 2.5em;
	width: auto;
}

/* Remove the underlines of the links */
.navbar-right li a {
	text-decoration: none !important;
}

/* Position the links */
.navbar-right {
	margin-top: 1em;
}
