@import "bootstrap-sprockets";
@import "bootstrap";

/* Change when the navbar collapses from 768px to 1337px */
@media (max-width: 1550px) {
  .navbar-header {
    float: none;
  }
  .navbar-left, .navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
    margin-top: 20px;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    background: white;
  }
  .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-nav {
    float: none !important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in{
		display: block !important;
	}
}



/*** GENERAL CUSTOMIZATIONS ***/

html, body {
	height: 100%;
}

.banner {
	height: 30vw;
  width: 100%;
	min-height: 480px;
  position: relative;
  top: 0px;
  left: 0px;
}

.banner-text {
  top: 30%;
  width: 100%;
  position: absolute;
  text-align: center;
  font-family: "Bebas", sans-serif;
  font-size: 100px;
  color: white;
}

.dark-layer {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}



/*** HEADER NAVBAR CUSTOMIZATIONS ***/

.navbar-top {
  background:transparent;
  border: none;
  height: 80px;
  margin-bottom: -80px;
  z-index: 100;
}

/* Squeeze the inner elements of the navbar */
nav .container-fluid {
	padding-right: 5%;
	padding-left: 5%;
}

/* Position the Alpha Kappa Psi logo */
.navbar-brand img {
	height: 45px;
	width: auto;
}

/* Remove the underlines of the links */
.navbar-top .navbar-collapse .navbar-nav li a {
  color: white;
	text-decoration: none;
}

/* Position the links */
.navbar-nav {
	margin-top: 15px;
}



/*** FOOTER NAVBAR CUSTOMIZATIONS ***/

.navbar-bottom {
	border: none;
	margin-bottom: 0;
}

.navbar-bottom ul li a {
	text-decoration: none;
}

.navbar-bottom ul li img {
	margin: 5px;
	height: 45px;
	width: auto;
}



/*** HOME PAGE CUSTOMIZATIONS ***/

/* Customize container holding the content of the homepage */

.home {
	height: 100%;
	background: image_url("banquet_fa14.png") no-repeat center center;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


// /* Make homepage heading mobile responsive */
// @media (max-width: 768px) {
// 	.home-banner div h1 {
// 		font-size: 190%;
// 	}
// 	.home-banner div h3 {
// 		font-size: 100%;
// 	}
// }



/*** ACTIVE BROTHERS PAGE CUSTOMIZATIONS ***/



/*** CAREERS PAGE CUSTOMIZATIONS ***/

.navbar-careers {
  background: none;
  width: 100%;
}

.navbar-careers ul {
  width: 100%;
  text-align: center;
}

.navbar-careers ul li {
  display: inline-block;
  float: none;
}

.banner-text .navbar-careers .navbar-nav a {
  color: white;
  font-size: 50%;
  text-decoration: none;
}

#careers-banner {
  background: image_url("rush_banner.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}




