@import "bootstrap-sprockets";
@import "bootstrap";

/*** HEADER NAVBAR CUSTOMIZATIONS ***/

/* Squeeze the inner elements of the navbar */
nav .container-fluid {
	padding-right: 5em;
	padding-left: 5em;
}

/* Set the height of the navbar */
.navbar-static-top {
	height: 80px;
	margin: 0;
}

/* Position the Alpha Kappa Psi logo */
.navbar-brand img {
	height: 2.5em;
	width: auto;
}

/* Remove the underlines of the links */
.navbar-right li a {
	text-decoration: none !important;
}

/* Position the links */
.navbar-right {
	margin-top: 1em;
}

/*** FOOTER NAVBAR CUSTOMIZATIONS ***/

html, body {
	margin: 0;
	padding: 0;
	height: 100%
}

body .content {
	min-height: 100%;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
}

.navbar-bottom {
	bottom: 0;
	position: absolute;
	width: 100%;
	margin: 0;
	border-radius: 0;
	height: 67px;
}

.navbar-bottom div {
	text-align: center;
}

.navbar-bottom div ul {
	display: inline-block;
	margin: 0;
	padding: 0;
	float: none;
}

.navbar-bottom div ul li a {
	text-decoration: none;
	margin: 5px;
	margin-left: 20px;
	margin-right: 20px;
}

.navbar-bottom div ul li img {
	margin: 5px;
	height: 45px;
	width: auto;
}


/*** CENTER CONTENT CUSTOMIZATIONS ***/

.home-banner {
	height: calc(100% - 80px);
	overflow-y: hidden;
	background: image_url("banquet_fa14.png") no-repeat center center fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.home-banner div {
	margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 5%; right: 0;
	text-align: center;
	color: white;
	height: 250px;
	width: 530px;
	background-color: rgba(0, 0, 0, 0.5);
	padding-top: 2em;
}

.home-banner div h1 {
	font-size: 420%;
	font-family: 'Old Standard TT', serif;
	font-weight: 700;
}

.home-banner div h3 {
	font-family: 'Vollkorn', serif;
	line-height: 150%;
}


