@font-face {
  font-family: 'Bebas';
  src: url(font-path('BebasNeue Book.ttf'))  format('truetype'),
}

@font-face {
  font-family: 'Simplifica';
  src: url(font-path('SIMPLIFICA Typeface.ttf'))  format('truetype'),
}

@font-face {
  font-family: 'Gandhi';
  src: url(font-path('GhandhiSans-Regular.otf'))  format('truetype'),
}

@font-face {
  font-family: 'Glober';
  src: url(font-path('Glober Thin Free.otf'))  format('truetype'),
}

@font-face {
  font-family: 'Ostrich';
  src: url(font-path('ostrich-regular.ttf'))  format('truetype'),
}

@font-face {
  font-family: 'Dense';
  src: url(font-path('Dense-Regular.ttf'))  format('truetype'),
}

@font-face {
  font-family: 'NexaLight';
  src: url(font-path('Nexa Light.otf'))  format('truetype'),
}