// Place all the styles related to the rushee_comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "theme";

.rushee_comment_upvote{
    font-family: $f-heading;
    font-weight: 700;
    display: inline-block;
    margin-right: 10px;

    &-img{
        width: 20px;
        height: 20px;
        margin-top: -2px;
    }

    &:hover{
        cursor: pointer;
    }
}