// Place all the styles related to the rush_applications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.rush-application-wrapper {
	width: 80%;
	margin: auto;
	padding: 1em;
}

#cynthia-font {
	font-family: 'cyntho_proregular', sans-serif;
}

.long-form {
	width: 100%;
	size: 100;
}

.rush-application-info {
	padding-top: 2em;
	padding-bottom: 1em;
	text-align: center;
	width: 62%;
	margin: auto;
}

.btn, .btn-primary {
	font-family: 'cyntho_proregular', sans-serif;
}

.submit-button {
	text-align: center;
}

.rush-application-info p {
	font-size: 3em;
	padding-bottom: 0.3em;
}

.cover-letter-info {
	width: 65%;
	margin: auto;
}

.cover-letter-info ol li {
	font-size: 0.8em;
}

.required:before {
	content: "*";
	color: red;
}



/*** SHOW PAGE FOR ACTIVES VIEWING RUSH APPLICATIONS ***/

.rush-application-show-wrapper {
	width: 50%;
	margin: auto;
	text-align: center;
	margin-bottom: 1em;
}

.rush-application-show-wrapper span {
	font-size: 1.2em;
	margin-bottom: 1em;
	padding-bottom: 1em;
	line-height: 1.8em;
}