// Place all the styles related to the rush_applications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.rush-application-wrapper {
	width: 80%;
	margin: auto;
}

#cynthia-font {
	font-family: 'cyntho_proregular', sans-serif;
}

.long-form {
	width: 100%;
	size: 100;
}

.rush-application-info {
	padding: 2em;
	text-align: center;
	width: 60%;
	margin: auto;
}

.rush-application-info p {
	font-size: 2.5em;
}