//Theme colors, fonts, etc. used throughout website. The beauty of sass - making changes of these things with just one variable.
$c-primary: #007BB7;
$c-primary-light: #0099e6;
$c-primary-dark: #006699;
$f-heading: 'Montserrat', 'cyntho_proregular', sans-serif;
$f-body: 'Lato', 'cyntho_proregular', sans-serif;