<nav class="navbar navbar-inverse navbar-bottom">
	<div class="container-fluid">
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li><%= link_to "Rush FAQ", faq_path, class: "left-footer-link" %></li>
				<li><%= link_to "Contact Us", contact_path, class: "right-footer-link" %></li>
			</ul>
		</div>
	</div>
</nav>