<nav class="navbar navbar-default navbar-bottom">
	<ul class="nav navbar-nav">
		<li><%= link_to "FAQ", faq_path %></li>
		<li><img alt="AKPsi" src=<%= image_url("akpsi_footer_logo_new.png") %>></li>
		<li><%= link_to "Contact", contact_path %></li>
	</ul>
	<div style="float:right;margin-top:-70px;margin-right:3.5%;position:relative;">
		<p style="font-size:11px;">Developed by:</p>
	</div>
	<div style="float:right;margin-top:-52px;margin-right:3.5%;position:relative;">
		<p style="font-size:11px;"><a href="http://michaeldeng.me">Michael Deng</a></p>
	</div>
	<div style="float:right;margin-top:-34px;margin-right:3.5%;position:relative;">
		<p style="font-size:11px;"><a href="https://www.linkedin.com/in/jasonxie96">Jason Xie</a></p>
	</div>
	<div
</nav>