<nav class="navbar navbar-default navbar-bottom">
	<ul class="nav navbar-nav">
		<li><%= link_to "FAQ", faq_path %></li>
		<li><img alt="AKPsi" src=<%= image_url("akpsi_footer_logo_new.png") %>></li>
		<li><%= link_to "Contact", contact_path %></li>
	</ul>
	<div style="float:right;margin-top:-50px;margin-right:3.5%;position:relative;">
		<p style="font-size:0.7em;">Developed by <a href="http://michaeldeng.me">Michael Deng</a></p>
	</div>
</nav>